.github/
coverage/
lib/
node_modules/
test/

.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.ncurc.js
.prettierrc.js
.yarnrc
commitlint.config.js
jest.config.js
tsconfig.*
yarn-error.log
yarn.lock
